<form class="pure-form" action="/search" method="get">
	<fieldset>
		<input type="search" id="searchbox" autocomplete="off" autocorrect="off"
		autocapitalize="none" spellcheck="false" <% if autofocus %>autofocus<% end %>
		name="q" placeholder="<%= translate(locale, "aramak") %>"
		title="<%= translate(locale, "aramak") %>"
		value="<%= env.get?("aramak").try {|x| HTML.escape(x.as(String)) } %>">
	</fieldset>
</form>
